<section class="stack">
  <h2>Projects</h2>
  <ol class="projects-list grid">
    {% for project in projectslist | reverse %}
    <li class="border padding">
      <a href="{{ project.url }}" class="projectlist__link">{{ project.data.projectName }}</a>
      <span class="projectlist__date">{{ project.data.startDate}} - {{ project.data.endDate}}</span>
      <span>{{ project.data.client}}</span>
      <span>{{ project.data.position}}</span>
    </li>
    {% endfor %}
  </ol>
</section>
